@import "tamano";
@import "colores";

$padding: 0px;
$centro: center;
$derecha: start;

.container-fluid{
    padding-left: $padding;
    padding-right: $padding;
    .navbar-nav{
        align-items: $derecha;
    }
}


.footers{
    text-align: $centro;
}

.textoIndex{
    text-align: $centro;
}

.encabezado{
    text-align: $centro;
}

.nosotros__texto--box{
    text-align: $centro;
}

.inicio__form--box{
    text-align: $centro;
}

.inicio__img--box{
    display: block;
    margin: auto;
}

.contacto__formulario--box{
    text-align: $centro;
}

.restablecer__img{
    display: block;
    margin: auto;
}

.restablecer_form--box{
    text-align: $centro;
}

.tienda__tabla--box{
    margin: auto;
}