$negro: black;
$blanco: white;

.footers{
    background-color: $negro;
    color: $blanco;
}

.textoIndex{
    color: $blanco;
    background-color: $negro;
}

.encabezado{
    color: $blanco;
    background-color: $negro;
}
.inicio__link--color{
    color: $negro;
}