$merri: 'Merriweather', serif;
$dancing: 'Dancing Script', cursive;

.textoIndex{
    font-family: $dancing;
}

.footers{
    font-family: $merri;
}

.encabezado{
    font-family: $dancing;
}

.nosotros__texto--font{
    font-family: $merri;
}
.inicio__link--font{
    font-family: $merri;
}

.contacto__formulario--font{
    font-family: $merri;
}

.restablecer_form--font{
    font-family: $merri;
}