<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Equorum, pagina de venta de caballos.">
    <meta name="keyword" content="caballo, turf, polo, caballos, subastas, remates">
    <title>Contáctanos - Equorum</title>
    <!--Bootstrap-->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <!--CSS-->
    <link rel="stylesheet" href="../css/estilo.css">
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    <!--Fuentes-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
</head>
<body>
    <!--Inicio de menu-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-xs-12">
                <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black;">
                    <a class="navbar-brand" href="../index.html"><img src="../assets/img/logo2.png" alt="Logo Sitio"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                      <div class="navbar-nav navbar-nav ml-auto">
                        <a class="nav-link active" href="../index.html">Inicio</a>
                        <a class="nav-link" href="tienda.html">Tienda</a>
                        <a class="nav-link" href="nosotros.html">Nosotros</a>
                        <a class="nav-link" href="contacto.html">Contacto</a><span class="sr-only"></span>
                        <a class="nav-link" href="iniciosesion.html">Iniciar Sesión</a>
                      </div>
                    </div>
                  </nav>
            </div>
        </div>
    </div>
    <!--Fin del menu-->
    <!--Inicio seccion de formulario-->

    <section>
        <article class="contacto">
            <div>
                <!--Encabezado del formulario-->
                <h1 class="encabezado">Contacto</h1>
                <!--Inicio del formulario-->
                <form action="#" class="contacto__formulario contacto__formulario--box contacto__formulario--font">
                    <div>
                        <label for="nombre"> Nombre: 
                            <input type="text" name=nombre>
                        </label><br>

                        <label for="apellido"> Apellido:
                            <input type="text" name=apellido>
                        </label><br>

                        <label for="estado"> Estado Civil:
                            <select name="estado">
                                <option value="soltero">Soltero/a</option>
                                <option value="casado">Casado/a</option>
                                <option value="nodice">Prefiero no decirlo</option>
                            </select>
                        </label><br>
                                        
                        <label for="tel"> Teléfono:
                            <input type="text" name=tel>
                        </label><br>

                        <label for="email"> Email:
                            <input type="text" name=email>
                        </label><br>

                        <br><textarea name="" id="" cols="40" rows="10" placeholder="¿Queres decirnos algo?"></textarea><br>

                        <div><input type="checkbox" name="acepta" value="1">Deseo recibir noticias de ofertas y promociones al mail</div><br> 
                            
                        <input type="submit" value="ENVIAR" class="boton--enviar"><input type="reset" value="RESETEAR" class="boton--reset">
                    </div>
                </form>
                <!-- Cierre de formulario-->
            </div>
        </article>
    </section> <!--Cierre seccion del formulario-->
    
    <!--Inicio pie de pagina-->
    <div class="container-fluid">
        <footer class="row footers">
            <div class="col-lg-3 col-xs-12">
                <h2>Equorum</h2>
            </div>
            <div class="col-lg-3 col-xs-12">
                <h2>Redes</h2>
            </div>
            <div class="col-lg-3 col-xs-12">
                <h2>Información</h2>
            </div>
            <div class="col-lg-3 col-xs-12">
                <h2>Mi cuenta</h2>
            </div>
        </footer>
    </div>
    <!-- Cierre del pie de pagina-->
</body>
</html>