<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Equorum, pagina de venta de caballos.">
    <meta name="keyword" content="caballo, turf, polo, caballos, subastas, remates">
    <title>Tienda Equorum</title>
    <!--Bootstrap-->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <!--CSS-->
    <link rel="stylesheet" href="../css/estilo.css">
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    <!--Fuentes-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
</head>
<body>
    <!--Inicio de menu-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-xs-12">
                <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black;">
                    <a class="navbar-brand" href="../index.html"><img src="../assets/img/logo2.png" alt="Logo Sitio"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                      <div class="navbar-nav navbar-nav ml-auto">
                        <a class="nav-link active" href="../index.html">Inicio</a>
                        <a class="nav-link" href="tienda.html">Tienda</a>
                        <a class="nav-link" href="nosotros.html">Nosotros</a>
                        <a class="nav-link" href="contacto.html">Contacto</a><span class="sr-only"></span>
                        <a class="nav-link" href="iniciosesion.html">Iniciar Sesión</a>
                      </div>
                    </div>
                  </nav>
            </div>
        </div>
    </div>
    <!--Fin del menu-->
        <section class="tienda">
            <article>
                <div><!--Encabezado -->
                    <h1 class="encabezado">Tienda</h1>
                </div>
                <div> <!-- Inicio seccion de tabla productos-->
                    <table border="1px" cellpadding = "20px" class="tienda__tabla--box tienda__tabla--font">
                        <tr>
                            <td>(Imagen Producto 1)<br><p>Nombre producto 1</p><p>Descripcion 1</p></td>
                            <td>(Imagen Producto 2)<br><p>Nombre producto 2</p><p>Descripcion 2</p></td>
                            <td>(Imagen Producto 3)<br><p>Nombre producto 3</p><p>Descripcion 3</p></td>
                        </tr>
                        <tr>
                            <td>(Imagen Producto 4)<br><p>Nombre producto 4</p><p>Descripcion 4</p></td>
                            <td>(Imagen Producto 5)<br><p>Nombre producto 5</p><p>Descripcion 5</p></td>
                            <td>(Imagen Producto 6)<br><p>Nombre producto 6</p><p>Descripcion 6</p></td>
                        </tr>
                        <tr>
                            <td>(Imagen Producto 7)<br><p>Nombre producto 7</p><p>Descripcion 7</p></td>
                            <td>(Imagen Producto 8)<br><p>Nombre producto 8</p><p>Descripcion 8</p></td>
                            <td>(Imagen Producto 9)<br><p>Nombre producto 9</p><p>Descripcion 9</p></td>
                        </tr>
                    </table>
                </div><!--Final seccion tabla productos-->
            </article>
        </section>


    <!--Inicio pie de pagina-->
    <div class="container-fluid">
        <footer class="row footers">
            <div class="col-lg-3 col-xs-12">
                <h2>Equorum</h2>
            </div>
            <div class="col-lg-3 col-xs-12">
                <h2>Redes</h2>
            </div>
            <div class="col-lg-3 col-xs-12">
                <h2>Información</h2>
            </div>
            <div class="col-lg-3 col-xs-12">
                <h2>Mi cuenta</h2>
            </div>
        </footer>
    </div>
    <!-- Cierre del pie de pagina-->
</body>
</html>